#page-header
  nav.navbar.navbar-default.navbar-fixed-top
    .col-md-3.hidden-md-down
      img.logo(src='/images/logo.svg')
    .col-md-6.hidden-md-down.note
      form(method='POST', action='/')
        select.form-control(name='title')
          option(value='0', disabled='disabled',selected="selected") Select Country 	
          each country in countries
            option(value=country.code) #{country.name}
        input.btn.btn-primary(type='submit', value='Submit')
